{% extends "base.html" %}
{% block pageClass%}details-page{% endblock %}
{% block content %}
  <div id="content">
    <div class="content-background"></div>
    <div class="page">
        <div class="page-background"></div>
        <div class="page-sections">
            <div class="anchor" id="accommodations"></div>
            <div class="location-section">
                <div class="location-section-background"></div>
                <div class="location-section-title-border-top"></div>
		<div class="location-section-title">Island Activities</div>
                <div class="location-section-title-border-bottom"></div>
                <p class="location-section-description"></p>
                <div class="location-section-items">
                    <div class="location-item">
                        <div class="activity-title" id="activities">Drive some water vehicles or go parasailing through this water sports activity center!</div>
                        <br>
                        <div class="activity-address">
                            <div class="activity-details">
                                Marco Island Ski &amp; Watersports, Inc.
				<div class="activity-aside">
                                    Tiki located on the Crystal Shores beach
                                    <br>(239) 389-4386
                                </div>
                            </div>
                        </div>

            		<div class="location-separator"></div>

                        <div class="activity-title" id="activities">Go on a paddle boarding tour of the area!</div>
                        <br>
                        <div class="activity-address">
                            <div class="activity-details">
                                Endless Summer Adventures
				<div class="activity-aside">
                                    (239) 285-7922
                                </div>
                            </div>
                        </div>

            		<div class="location-separator"></div>

                        <div class="activity-title" id="activities">Explore the Everglades with a fan boat excursion</div>
                        <br>
                        <div class="activity-address">
                            <div class="activity-details">
                                Everglades Excursion
				<div class="activity-aside">
                                    (239) 260-3270
				    <br>~45 minute drive
				    <br>~3 hours including travel to site
				</div>
                            </div> 
                        </div>

            		<div class="location-separator"></div>

                        <div class="activity-title" id="activities">Relax or treat yourself at the hotel spa</div>
                        <br>
                        <div class="activity-address">
                            <div class="activity-details">
				The Spa at Marriott
                            	<div class="activity-aside">
                                    (239) 642-2686
                            	</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-separator"></div>
        </div>
    </div>
  </div>
{% endblock %}
