{% extends "base.html" %}
{% block pageClass%}details-page{% endblock %}
{% block content %}
  <div id="content">
    <div class="content-background"></div>
    <div class="page">
        <div class="page-background"></div>
        <div class="page-sections">
            <div class="anchor" id="amenities"></div>
            <div class="location-section">
                <div class="location-section-background"></div>
                <div class="location-section-title-border-top"></div>
                <div class="location-section-title">Resort Amenities</div>
                <div class="location-section-title-border-bottom"></div>
                <p class="location-section-description"></p>
                <div class="location-section-items">
                    <div class="location-item">
			<div class="activity-title">
			    Resort fees for those staying at the Marriott also gets you:
			    <br>
			    <br>
			</div>
			<ul class="amenity-list">
			    <li>WiFi Access</li>
			    <li>Daily Beach Chair and Umbrella Rental</li>
			    <li>2 Water Bottles in room replenished daily</li>
			    <li>1 hour Kayak Rental</li>
			    <li>Access to Resort Golf Course Shttle, Practice Facility, Range Balls, and Clubs</li>
			</ul>

            		<div class="location-separator"></div>

			<div class="activity-title">
			    All wedding guests can also enjoy the use of the adult pool, kids pool, and Marriott private beach through the wedding weekend.
			</div>
                    </div>
                </div>
            </div>
            <div class="section-separator"></div>
        </div>
    </div>
  </div>
{% endblock %}
