{% extends "base.html" %}
{% block pageClass%}details-page{% endblock %}
{% block content %}
  <div id="content">
    <div class="content-background"></div>
    <div class="page">
        <div class="page-background"></div>
        <div class="page-sections">
            <div class="anchor" id="accommodations"></div>
            <div class="location-section">
                <div class="location-section-background"></div>
                <div class="location-section-title-border-top"></div>
                <div class="location-section-title">Marco Island Attractions</div>
                <div class="location-section-title-border-bottom"></div>
                <p class="location-section-description"></p>
                <div class="location-section-items">
                    <div class="location-item">
                        <div class="location-title item-title" id="#all-day-dining">All Day Dining</div>
                        <br>
                        <div class="location-address">
                            <div class="location-details">
                                Stonewalls
                                <div class="location-aside">
                                    <i class="fa fa-clock-o"></i> Daily 8 AM - 9 PM
                                </div>
                            </div> 
                            <div class="location-time">
                                551 South Collier Blvd
                                <br>
                                (239) 389-1995
                            </div>
                        </div>
                        <div class="location-address">
                            <div class="location-details">
                                Stilt's
                                <div class="location-aside">
                                    <i class="fa fa-clock-o"></i> Daily 11 AM - 9 PM
                                    <br> Fri, Sat &amp; Sun 8 AM for Breakfast
                                </div>
                            </div> 
                            <div class="location-time">
                                At Crystal Shores
                                <br>
                                (239) 393-6790
                            </div>
                        </div>
                    </div>
                    <div class="location-separator"></div>
                    <div class="location-item">
                        <div class="location-title item-title" id="#breakfast">Breakfast</div>
                        <br>
                        <div class="location-address">
                            <div class="location-details">
                                Doreen's Cup of Joe
                                <div class="location-aside">
                                    <i class="fa fa-clock-o"></i> Daily 7:30 AM - 2 PM
                                </div>
                            </div> 
                            <div class="location-time">
                                267 North Collier Blvd
                                <br>
                                (239) 394-2600
                            </div>
                        </div>
                    </div>
                    <div class="location-separator"></div>
                    <div class="location-item">
                        <div class="location-title item-title" id="lunch-and-dinner">Lunch &amp; Dinner</div>
                        <br>
                        <div class="location-address">
                            <div class="location-details">
                                Doreen's Cup of Joe
                                <div class="location-aside">
                                    <i class="fa fa-clock-o"></i> Daily 7:30 AM - 2 PM
                                </div>
                            </div> 
                            <div class="location-time">
                                267 North Collier Blvd
                                <br>
                                (239) 394-2600
                            </div>
                        </div>
                        <div class="location-address">
                            <div class="location-details">
                                Nacho Mama's
                                <div class="location-aside">
                                    <i class="fa fa-clock-o"></i> Daily 11 AM - 12 AM
                                </div>
                            </div> 
                            <div class="location-time">
                                599 South Collier Blvd
                                <br>
                                (239) 389-2222
                            </div>
                        </div>
                        <div class="location-address">
                            <div class="location-details">
                                CJ's on the Bay
                                <div class="location-aside">
                                    <i class="fa fa-clock-o"></i> Daily 11 AM - 10 PM
                                </div>
                            </div> 
                            <div class="location-time">
                                740 North Collier Blvd, #105
                                <br> (Esplanade Shoppes)
                                <br> (239) 389-4511
                            </div>
                        </div>
                        <div class="location-address">
                            <div class="location-details">
                                Joey's Pizza and Pasta House
                                <div class="location-aside">
                                    <i class="fa fa-clock-o"></i> Daily 11 AM - 10 PM
                                </div>
                            </div> 
                            <div class="location-time">
                                257 North Collier Blvd
                                <br> (239) 389-2433
                            </div>
                        </div>
                        <div class="location-address">
                            <div class="location-details">
                                Little Bar
                                <div class="location-aside">
                                    <i class="fa fa-clock-o"></i> Daily 11:30 AM - 12 AM
                                </div>
                            </div> 
                            <div class="location-time">
                                205 Harbor Drive
                                <br>Goodland on Marco Island
                                <br> (239) 394-5663
                            </div>
                        </div>
                        <div class="location-address">
                            <div class="location-details">
                                Marco Island Brewery
                                <div class="location-aside">
                                    <i class="fa fa-clock-o"></i> Daily 11:30 AM - 12 AM
                                </div>
                            </div> 
                            <div class="location-time">
                                1089 North Collier Blvd
                                <br> (239) 970-0461
                            </div>
                        </div>
                        <div class="location-address">
                            <div class="location-details">
                                O'Donoghue's
                                <div class="location-aside">
                                    <i class="fa fa-clock-o"></i> Mon-Fri 11:30 AM - 2 AM
                                    <br> Sat &amp; Sun 12 PM - 2 AM
                                </div>
                            </div> 
                            <div class="location-time">
                                591 South Collier Blvd
                                <br> (239) 389-0032
                            </div>
                        </div>
                    </div>
                    <div class="location-separator"></div>
                    <div class="location-item">
                        <div class="location-title item-title" id="dinner">Dinner Only</div>
                        <br>
                        <div class="location-address">
                            <div class="location-details">
                                Arturo's Italian Restaurant
                                <div class="location-aside">
                                    <i class="fa fa-clock-o"></i> Daily 5 PM - 10 PM
                                </div>
                            </div> 
                            <div class="location-time">
                                844 Bald Eagle Drive
                                <br> (239) 642-0550
                            </div>
                        </div>
                        <div class="location-address">
                            <div class="location-details">
                                Da Vinci Ristorante Italiano 
                                <div class="location-aside">
                                    <i class="fa fa-clock-o"></i> Mon-Sat 4:30 PM - 2 AM
                                    <br> Sun 4:30 PM - 2 AM
                                </div>
                            </div> 
                            <div class="location-time">
                                599 South Collier Blvd
                                <br> (239) 389-1888
                            </div>
                        </div>
                        <div class="location-address">
                            <div class="location-details">
                                Cafe De Marco
                                <div class="location-aside">
                                    <i class="fa fa-clock-o"></i> Mon-Sat 5 PM - 10 PM
                                </div>
                            </div> 
                            <div class="location-time">
                                244 Palm Street
                                <br> (239) 394-6262
                            </div>
                        </div>
                        <div class="location-address">
                            <div class="location-details">
                                Old Marco Pub
                                <div class="location-aside">
                                    <i class="fa fa-clock-o"></i> Mon-Sat 4 PM - 10 PM
                                </div>
                            </div> 
                            <div class="location-time">
                                1105 Bald Eagle Drive
                                <br> (239) 642-9700
                            </div>
                        </div>
                    </div>
                    <div class="location-separator"></div>
                    <div class="location-item">
                        <div class="location-title item-title" id="activities">Island Activities</div>
                        <br>
                        <div class="location-address">
                            <div class="location-details">
                                Marco Island Ski &amp; Watersports, INC.
                            </div> 
                            <div class="location-time">
                                Tiki located on the beach in front of Crystal Shores
                                <br>(239) 389-4386
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-separator"></div>
        </div>
    </div>
  </div>
{% endblock %}
