{% extends "base.html" %}
{% block pageClass%}details-page{% endblock %}
{% block content %}
  <div id="content">
    <div class="content-background"></div>
    <div class="page">
        <div class="page-background"></div>
        <div class="page-sections">
            <div class="anchor" id="itinerary"></div>
            <div class="location-section">
                <div class="location-section-background"></div>
                <div class="location-section-title-border-top"></div>
                <div class="location-section-title">Itinerary</div>
                <div class="location-section-title-border-bottom"></div>
                <p class="location-section-description"></p>
                <div class="location-section-items">
                    <div class="location-item">
                        <div class="location-title item-title" id="friday">Friday, August 28th, 2015</div>
                        <br>
                        <div class="location-address">
                            <div class="location-details">
                                Nasto ( Tea and Snacks )
                                <div class="location-aside">
                                    <i class="fa fa-map-marker"></i> Hospitality Suite
                                </div>
                            </div>
                            <div class="location-time">
                                6 AM - 7:30 AM
                            </div>
                        </div>
                        <div class="location-address">
                            <div class="location-details">
                                Priya's Vidhi Ceremony
                                <div class="location-aside">
                                    <i class="fa fa-map-marker"></i> Beach Pavilion 
                                    <br><i class="fa fa-black-tie"></i> Indian/Western Casual
                                </div>
                            </div>
                            <div class="location-time">
                                8:00 AM
                            </div>
                        </div>
                        <div class="location-address">
                            <div class="location-details">
                                Vishal's Vidhi Ceremony
                                <div class="location-aside">
                                    <i class="fa fa-map-marker"></i> Beach Pavilion
                                    <br><i class="fa fa-black-tie"></i> Indian/Western Casual
                                </div>
                            </div>
                            <div class="location-time">
                                10:00 AM
                            </div>
                        </div>
                        <div class="location-address">
                            <div class="location-details">
                                Vidhi Lunch
                                <div class="location-aside">
                                    <i class="fa fa-map-marker"></i> Beach Pavilion
                                </div>
                            </div>
                            <div class="location-time">
                                12:00 PM
                            </div>
                        </div>
                        <div class="location-address">
                            <div class="location-details">
                                Welcome Party
                                <br>&amp; Mehndi/Garba
                                <div class="location-aside">
                                    <i class="fa fa-map-marker"></i> Sunset Terrace
                                    <br><i class="fa fa-black-tie"></i> Indian/Western Semiformal
                                </div>
                            </div>
                            <div class="location-time">
                                6:30 PM
                            </div>
                        </div>
                        <div class="location-address">
                            <div class="location-details">
                                Afterparty
                                <div class="location-aside">
                                    <i class="fa fa-map-marker"></i> Marriott Koral's Sushi Cocktail<br>&amp; Lobby Bar
                                    <br><i class="fa fa-black-tie"></i> Casual
                                </div>
                            </div>
                            <div class="location-time">
                                10:30 PM
                            </div>
                        </div>
                    </div>
                    <div class="location-separator"></div>
                    <div class="location-item">
                        <div class="location-title item-title" id="saturday">Saturday, August 29th, 2015</div>
                        <br>
                        <div class="location-address">
                            <div class="location-details">
                                Nasto ( Tea and Snacks )
                                <div class="location-aside">
                                    <i class="fa fa-map-marker"></i> Hospitality Suite
                                </div>
                            </div>
                            <div class="location-time">
                                6 AM - 7:30 AM
                            </div>
                        </div>
                        <div class="location-address">
                            <div class="location-details">
                                Baraat
                                <div class="location-aside">
                                    <i class="fa fa-map-marker"></i> Marriott Beach 
                                </div>
                            </div>
                            <div class="location-time">
                                9:30 AM
                            </div>
                        </div>
                        <div class="location-address">
                            <div class="location-details">
                                Wedding Ceremony
                                <div class="location-aside">
                                    <i class="fa fa-map-marker"></i> North Beach
                                    <br><i class="fa fa-black-tie"></i> Indian/Western Semiformal
                                </div>
                            </div>
                            <div class="location-time">
                                10:30 AM
                            </div>
                        </div>
                        <div class="location-address">
                            <div class="location-details">
                                Wedding Lunch
                                <div class="location-aside">
                                    <i class="fa fa-map-marker"></i> Pavilion
                                </div>
                            </div>
                            <div class="location-time">
                                12:30 PM
                            </div>
                        </div>
                        <div class="location-address">
                            <div class="location-details">
                                Cocktail Hour
                                <div class="location-aside">
                                    <i class="fa fa-map-marker"></i> Palms Terrace and Ballroom
                                </div>
                            </div>
                            <div class="location-time">
                                7:00 PM
                            </div>
                        </div>
                        <div class="location-address">
                            <div class="location-details">
                                Wedding Reception
                                <div class="location-aside">
                                    <i class="fa fa-map-marker"></i> Palms Terrace and Ballroom
                                    <br><i class="fa fa-black-tie"></i> Indian/Western Formal
                                </div>
                            </div>
                            <div class="location-time">
                                8:00 PM
                            </div>
                        </div>
                        <div class="location-address">
                            <div class="location-details">
                                Afterparty
                                <div class="location-aside">
                                    <i class="fa fa-map-marker"></i> Marriott Quinn's on the Beach
                                    <br><i class="fa fa-black-tie"></i> Casual
                                </div>
                            </div>
                            <div class="location-time">
                                1:00 AM
                            </div>
                        </div>
                    </div>
                    <div class="location-separator"></div>
                    <div class="location-item">
                        <div class="location-title item-title" id="sunday">Sunday, August 30th, 2015</div>
                        <br>
                        <div class="location-address">
                            <div class="location-details">
                                Nasto ( Tea and Snacks )
                                <div class="location-aside">
                                    <i class="fa fa-map-marker"></i> Hospitality Suite
                                </div>
                            </div>
                            <div class="location-time">
                                6 AM - 7:30 AM
                            </div>
                        </div>
                        <div class="location-address">
                            <div class="location-details">
                                Farewell Brunch
                                <div class="location-aside">
                                    <i class="fa fa-map-marker"></i> Marriot Maia
                                </div>
                            </div>
                            <div class="location-time">
                                7:30 AM - 12 PM
                            </div>
                        </div>
                    </div>
                    <div class="location-separator"></div>
                </div>
            </div>
        </div>
    </div>
  </div>
{% endblock %}
