{% extends "base.html" %}
{% block pageClass%}details-page{% endblock %}
{% block content %}
  <div id="content">
    <div class="content-background"></div>
    <div class="page">
        <div class="page-background"></div>
        <div class="page-sections">
            <div class="anchor" id="newsfeed"></div>
            <div class="location-section">
                <div class="location-section-background"></div>
                <div class="location-section-title-border-top"></div>
                <div class="location-section-title">News Feed</div>
                <div class="location-section-title-border-bottom"></div>
                <p class="location-section-description"></p>
                <div class="location-section-items">
                    <div class="location-item">
                        <br>
                        <div class="location-address">
                        {% if news %}
                          <table style="width:100%" id="newsTable">
                          {% for i in news %}
                            <tr>
                            <td>{{i.timestamp}}</td>
                            <td>{{i.message}}</td>
                            </tr>
                          {% endfor %}
                        {% else %}
                        Stay tuned for updates!
                        {% endif %}
                        </div>
                    </div>
                    <div class="location-separator"></div>
                </div>
            </div>
        </div>
    </div>
  </div>
{% endblock %}
