{% extends "base.html" %}
{% block pageClass%}details-page{% endblock %}
{% block content %}
  <div id="content">
    <div class="content-background"></div>
    <div class="page">
        <div class="page-background"></div>
        <div class="page-sections">
            <div class="anchor" id="newsfeed"></div>
            <div class="location-section">
                <div class="location-section-background"></div>
                <div class="location-section-title-border-top"></div>
                <div class="location-section-title">News Feed</div>
                <div class="location-section-title-border-bottom"></div>
                <p class="location-section-description"></p>
                <div class="location-section-items">
                    <div class="location-item">
                        <div class="item-description" style="display:block">
                        {% if news %}
                          {% for i in news %}
                            <blockquote>
                            <p style="line-height:1.3;font-weight:bold;font-size:1.4em">{{i.message}}</p>
                            <br>
                            <footer style="text-align:right">— {{i.sender}}, {{i.timestamp}}</footer>
                            </blockquote>
                            <div class="location-separator" style="margin-bottom:20px"></div>
                            <br>
                          {% endfor %}
                        {% else %}
                        Stay tuned for updates!
                        {% endif %}
                        </div>
                    </div>
                    <div class="location-separator"></div>
                </div>
            </div>
        </div>
    </div>
  </div>
{% endblock %}
