{% extends "base.html" %}
{% block pageClass%}photos-page{% endblock %}
{% block content %}
  <div id="content">
    <div class="content-background"></div>
    <div class="page">
        <div class="page-background"></div>
        <div class="page-sections">
            <div class="anchor" id="photos"></div>
            <div class="location-section">
                <div class="location-section-background"></div>
                <div class="location-section-title-border-top"></div>
                <div class="location-section-title">Photos</div>
                <div class="location-section-title-border-bottom"></div>
                <p class="location-section-description"></p>
                <div class="location-section-items">
                    <div class="location-item">
                        <br>
                        <div class="location-address">
                        Stay tuned for updates!
                        </div>
                    </div>
                    <div class="location-separator"></div>
                </div>
            </div>
        </div>
    </div>
  </div>
{% endblock %}
