{% extends "base.html" %}
{% block pageClass%}photos-page{% endblock %}
{% block content %}
  <div id="content">
    <div class="content-background"></div>
    <div class="page">
        <div class="page-background"></div>
        <div class="page-sections">
            <div class="anchor" id="photos"></div>
            <div class="location-section">
                <div class="location-section-background"></div>
                <div class="location-section-title-border-top"></div>
                <div class="location-section-title">Photos</div>
                <div class="location-section-title-border-bottom"></div>
                <p class="location-section-description"></p>
                <div class="location-section-items">
                    <div class="location-item">
                        <br>
						<center>
							Our wedding photo album is on 
							<br><img src="https://wedpics.com/m/img/wedding/logo.png" /><br>
							<br>We need your help to make it awesome! Install the WedPics app on your phone and post lots of pictures and videos!

                    		<div class="location-separator"></div>

                        	<div class="photos">
								<button class="btn" id="view-photos">View photos online</button>
								<br>

								<button class="btn" id="install-app">Install WedPics app</button>
								<br>Our wedding ID is <span style="font-family: monospace;font-size:1.4em;margin-left:3px;background-color:rgba(0,0,0,0.5);padding:5px">aminsquared</span>
							</div>
						</center>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <script type="text/javascript">
	$("#view-photos").click(function() {
		window.location = "http://wedpics.com/wedding/GIYDIMJUGY4Q";
    });

    $("#install-app").click(function() {
		window.location = "https://goo.gl/OKXwJg";
    });
  </script>
{% endblock %}
