{% extends "base.html" %}
{% block pageClass%}details-page{% endblock %}
{% block content %}
  <div id="content">
    <div class="content-background"></div>
    <div class="page">
        <div class="page-background"></div>
        <div class="page-sections">
            <div class="anchor" id="accommodations"></div>
            <div class="location-section">
                <div class="location-section-background"></div>
                <div class="location-section-title-border-top"></div>
                <div class="location-section-title">Marco Island Attractions</div>
                <div class="location-section-title-border-bottom"></div>
                <p class="location-section-description"></p>
                <div class="location-section-items">
                    <div class="location-item">
                        <div class="location-title item-title" id="#all-day-dining">All Day Dining</div>
                        <br>
                        <div class="location-address">
                        Stonewalls
                        <br>
                        551 South Collier Blvd
                        <br>
                        (239) 389-1995
                        <br>
                        Open Daily 8 AM - 9 PM
                        </div>
                        <br>
                        <div class="location-address">
                        Stilt's
                        <br>
                        At Crystal Shores
                        <br>
                        (239) 393-6790
                        <br>
                        Open Daily 11 AM to 9 PM
                        <br>
                        Fri, Sat &amp; Sun 8 AM for Breakfast
                        </div>
                    </div>
                    <div class="location-separator"></div>
                    <div class="location-item">
                        <div class="location-title item-title" id="#breakfast">Breakfast</div>
                        <br>
                        <div class="location-address">
                        Doreen's Cup of Joe
                        <br>
                        267 North Collier Blvd
                        <br>
                        (239) 394-2600
                        <br>
                        Open Daily 7:30 AM - 2 PM
                        </div>
                    </div>
                    <div class="location-separator"></div>
                    <div class="location-item">
                        <div class="location-title item-title" id="lunch-and-dinner">Lunch &amp; Dinner</div>
                        <br>
                        <div class="location-address">
                        Doreen's Cup of Joe
                        <br>
                        267 North Collier Blvd
                        <br>
                        (239) 394-2600
                        <br>
                        Open Daily 7:30 AM - 2 PM
                        </div>
                        <br>
                        <div class="location-address">
                        Nacho Mama's
                        <br>
                        599 South Collier Blvd
                        <br>
                        (239) 389-2222
                        <br>
                        Open 11 AM - 12 AM
                        </div>
                        <br>
                        <div class="location-address">
                        CJ's on the Bay
                        <br>
                        740 North Collier Blvd, #105
                        <br>
                        (Esplanade Shoppes)
                        <br>
                        (239) 389-4511
                        <br>
                        Open 7 days a week 11 AM - 10 PM
                        </div>
                        <br>
                        <div class="location-address">
                        Joey's Pizza and Pasta House
                        <br>
                        257 North Collier Blvd
                        <br>
                        (239) 389- 2433
                        <br>
                        Open 7 days a week at 11 AM
                        </div>
                        <br>
                        <div class="location-address">
                        Little Bar
                        <br>
                        205 Harbor Drive
                        <br>
                        Goodland on Marco Island
                        <br>
                        (239) 394-5663
                        <br>
                        Open 7 days a week at 11:30 AM
                        </div>
                        <br>
                        <div class="location-address">
                        Marco Island Brewery
                        <br>
                        1089 North Collier Blvd
                        <br>
                        (239) 970-0461
                        <br>
                        Open 7 days a week
                        <br>
                        11:30 AM - 12 AM or later
                        </div>
                        <br>
                        <div class="location-address">
                        O'Donoghue's
                        <br>
                        591 South Collier Blvd
                        <br>
                        (239) 389-0032
                        <br>
                        Mon-Fri 11:30 AM - 2 AM
                        <br>
                        Sat &amp; Sun 12 PM - 2 AM
                        </div>
                    </div>
                    <div class="location-separator"></div>
                    <div class="location-item">
                        <div class="location-title item-title" id="dinner">Dinner Only</div>
                        <br>
                        <div class="location-address">
                        Arturo's Italian Restaurant
                        <br>
                        844 Bald Eagle Drive
                        <br>
                        (239) 642-0550
                        <br>
                        Open 7 nights a week at 5 PM
                        </div>
                        <br>
                        <div class="location-address">
                        Da Vinci Ristorante Italiano
                        <br>
                        599 S Collier Blvd
                        <br>
                        (239) 389-1888
                        <br>
                        Mon-Sat 4:30 PM - 2:00 AM
                        <br>
                        Sun 4:30 PM - 2:00 AM
                        </div>
                        <br>
                        <div class="location-address">
                        Cafe De Marco
                        <br>
                        244 Palm Street
                        <br>
                        (239) 394-6262
                        <br>
                        Open 6 nights a week at 5 PM (closed Sundays)
                        </div>
                        <br>
                        <div class="location-address">
                        Old Marco Pub
                        <br>
                        1105 Bald Eagle Drive
                        <br>
                        (239) 642-9700
                        <br>
                        Open Mon-Sat at 4 PM
                        </div>
                    </div>
                    <div class="location-separator"></div>
                    <div class="location-item">
                        <div class="location-title item-title" id="activities">Island Activities</div>
                        <br>
                        <div class="location-address">
                        Marco Island Ski &amp; Watersports, INC.
                        <br>
                        Tiki located on the beach in front of Crystal Shores
                        <br>
                        (239) 389-4386
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-separator"></div>
        </div>
    </div>
  </div>
{% endblock %}
