{% extends "base.html" %}
{% block pageClass%}photos-page{% endblock %}
{% block content %}
  <div id="content">
      <div class="content-background"></div>
      <div class="page">
          <div class="page-background"></div>
          <div class="page-sections">
              <div class="photo-section">
                  <div class="photo-section-title-container">
                      <div class="photo-section-title">College Years</div>
                  </div>
                  <div class="photo-section-items">
                      <div class="col-sm-4">
                          <div class="js-photo photo-item"><img alt="Priya Amin and Vishal Amin Wedding Photo 1" class="photo-image" data-height="604" data-width="453" src="//media.front.xoedge.com/images/bf72d37d-d905-49f1-89df-f73184580e15~rs_325.h"></div>
                          <div class="js-photo photo-item"><img alt="Priya Amin and Vishal Amin Wedding Photo 2" class="photo-image" data-height="453" data-width="604" src="//media.front.xoedge.com/images/819e808c-484b-4b38-9e64-d0299b011a38~rs_325.h"></div>
                          <div class="js-photo photo-item"><img alt="Priya Amin and Vishal Amin Wedding Photo 3" class="photo-image" data-echo="//media.front.xoedge.com/images/95d20711-2c7d-4c8e-b9bb-c7aea013e78e~rs_325.h" data-height="453" data-width="604" src="//media.front.xoedge.com/images/load-2d3ee27f4d0de654d7990084a1a3d480.png"></div>
                      </div>
                      <div class="col-sm-4">
                          <div class="js-photo photo-item"><img alt="Priya Amin and Vishal Amin Wedding Photo 1" class="photo-image" data-height="720" data-width="540" src="//media.front.xoedge.com/images/2fe1779e-1b3d-41d5-881a-bf8fb7553e5b~rs_325.h"></div>
                          <div class="js-photo photo-item"><img alt="Priya Amin and Vishal Amin Wedding Photo 2" class="photo-image" data-height="453" data-width="604" src="//media.front.xoedge.com/images/500c5b5d-5ebd-45b7-814e-f62271f22501~rs_325.h"></div>
                      </div>
                      <div class="col-sm-4">
                          <div class="js-photo photo-item"><img alt="Priya Amin and Vishal Amin Wedding Photo 1" class="photo-image" data-height="720" data-width="540" src="//media.front.xoedge.com/images/d456b3a8-e648-4d70-aea7-e0e549ab2d91~rs_325.h"></div>
                          <div class="js-photo photo-item"><img alt="Priya Amin and Vishal Amin Wedding Photo 2" class="photo-image" data-height="720" data-width="540" src="//media.front.xoedge.com/images/3f86b195-16c2-4aa9-973d-30cb9aca9c98~rs_325.h"></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
{% endblock %}
