{% extends "base.html" %}
{% block pageClass%}details-page{% endblock %}
{% block content %}
  <div id="content">
    <div class="content-background"></div>
    <div class="page">
        <div class="page-background"></div>
        <div class="page-sections">
            <script type="text/javascript">
                var events = [];
            </script>
            <div class="anchor" id="accommodations"></div>
            <div class="location-section">
                <div class="location-section-background"></div>
                <div class="location-section-title-border-top"></div>
                <div class="location-section-title">Accommodations</div>
                <div class="location-section-title-border-bottom"></div>
                <p class="location-section-description"></p>
                <div class="location-section-items">
                    <div class="location-item">
                        <div class="location-title item-title">Marco Island Marriott Beach Resort, Golf Club &amp; Spa</div>
                        <div class="location-image-container"><img class="location-image" src="//media.front.xoedge.com/images/6f0e429b-7f31-41f3-90ac-63f3730a4462~rt_-cr_-rs_1800.h"></div>
                        <div class="location-address">400 South Collier Boulevard, Marco Island, FL 34145
                            <br>(800)-228-9290 or (239)-394-2511</div>
                        <div class="location-description">
                            <p>Amin wedding discount rate is $159 per night (plus tax and resort fees). The rate will be honored August 26 - September 1 (based on availability).</p>
                            <p>You can make your reservation by:</p>
                            <p>1.) Calling the number listed above (between 9am-5pm EST) and let them know you are with the Amin/Amin wedding group and if you would like to request a king or double beds<span></span><span></span></p>
                            <p>2.) Booking online at <span class="s1"><a href="https://resweb.passkey.com/Resweb.do?mode=welcome_ei_new&eventID=13784846">https://resweb.passkey.com/Resweb.do?mode=welcome_ei_new&amp;eventID=13784846</a></span></p>
                            <p>Please note your request for king or double beds under "additional requests."</p>
                            <p>
                                <br>
                            </p>
                            <p>When booking your room, request the South Tower where the Bride and Groom will be!</p>
                            <p>
                                <br>
                            </p>
                        </div>
                        <div class="location-button-container"></div>
                    </div>
                    <div class="location-separator"></div>
                    <div class="location-item">
                        <div class="location-title item-title">Marco Beach Ocean Resort</div>
                        <div class="location-address">480 South Collier Boulevard, Marco Island, FL 34145, United States
                            <br>1-800-715-8517</div>
                        <div class="location-description">
                            <p>5 minute walk from the main hotel (0.2 miles)</p>
                        </div>
                        <div class="location-button-container">
                            <a href="http://www.marcoresort.com/" rel="nofollow" target="_blank">
                                <button>Visit Website</button>
                            </a>
                            <a href="mailto:reservations@marcoresort.com">
                                <button>Email</button>
                            </a>
                        </div>
                    </div>
                    <div class="location-separator"></div>
                    <div class="location-item">
                        <div class="location-title item-title">Hilton Marco Island Beach Resort and Spa</div>
                        <div class="location-address">560 South Collier Boulevard, Marco Island, FL 34145, United States
                            <br>1-239-394-5000</div>
                        <div class="location-description">
                            <p>10 minute walk from the main hotel (0.5 miles)</p>
                        </div>
                        <div class="location-button-container">
                            <a href="http://www3.hilton.com/en/hotels/florida/hilton-marco-island-beach-resort-and-spa-MRKMHHF/index.html" rel="nofollow" target="_blank">
                                <button>Visit Website</button>
                            </a>
                            <a href="mailto:mrkmh_fo@hilton.com">
                                <button>Email</button>
                            </a>
                        </div>
                    </div>
                    <div class="location-separator"></div>
                </div>
            </div>
            <div class="section-separator"></div>
            <div class="anchor" id="travel-and-transportation"></div>
            <div class="location-section">
                <div class="location-section-background"></div>
                <div class="location-section-title-border-top"></div>
                <div class="location-section-title">Travel and Transportation</div>
                <div class="location-section-title-border-bottom"></div>
                <p class="location-section-description"></p>
                <div class="location-section-items">
                    <div class="location-item">
                        <div class="location-title item-title">Fort Myers Airport (Southwest Florida International Airport)</div>
                        <div class="location-address">11000 Terminal Access Rd, Fort Myers, FL 33913
                            <br>
                        </div>
                        <div class="location-description">
                            <p>48 miles from hotel</p>
                        </div>
                        <div class="location-button-container">
                            <a href="http://www.flylcpa.com/" rel="nofollow" target="_blank">
                                <button>Visit Website</button>
                            </a>
                        </div>
                    </div>
                    <div class="location-separator"></div>
                    <div class="location-item">
                        <div class="location-title item-title">Miami International Airport</div>
                        <div class="location-address">2100 NW 42nd Ave, Miami, FL 33126, United States
                            <br>
                        </div>
                        <div class="location-description">
                            <p>103 miles from hotel</p>
                        </div>
                        <div class="location-button-container">
                            <a href="http://www.miami-airport.com/" rel="nofollow" target="_blank">
                                <button>Visit Website</button>
                            </a>
                        </div>
                    </div>
                    <div class="location-separator"></div>
                    <div class="location-item">
                        <div class="location-title item-title">Fort Lauderdale-Hollywood International Airport</div>
                        <div class="location-address">100 Terminal Drive, Fort Lauderdale, FL 33315, United States
                            <br>
                        </div>
                        <div class="location-description">
                            <p>117 miles from hotel</p>
                        </div>
                        <div class="location-button-container">
                            <a href="http://www.broward.org/airport/Pages/Default.aspx" rel="nofollow" target="_blank">
                                <button>Visit Website</button>
                            </a>
                        </div>
                    </div>
                    <div class="location-separator"></div>
                    <div class="location-item">
                        <div class="location-title item-title">Airport Shuttle - American Comfort Limousines</div>
                        <div class="location-address">4084 Arnold Avenue, Naples, FL 34104, United States
                            <br>888-546-6117</div>
                        <div class="location-description">
                            <p>Our preferred transportation from the Fort Myers Airport to the hotel is American Comfort Limo. Just call them up, tell them the number of people you have and mention you are in the Amin wedding for the discounted rates below. If they are all booked up, there is another list of companies in the area to check with below that.</p>
                            <p><u>American Comfort Limo (</u><a href="tel:888-546-6117" value="+18885466117" target="_blank">888-546-6117</a>)</p>
                            <p><i><strong data-redactor-tag="strong">Sedan (up to 3 passengers)</strong> = $99.00 all-inclusive one-way</i></p>
                            <p><i><strong data-redactor-tag="strong">SUV (up to 6 passengers)</strong> = $149.00 all-inclusive one-way</i></p>
                            <p><i><strong data-redactor-tag="strong">Van (up to 10 passengers)</strong> = $149.00 all-inclusive one-way</i></p>
                            <p><u><br></u></p>
                            <p><u>Other Vendors</u>
                                <br>
                            </p>
                            <p>Taxi Service - <a href="http://flylcpa.com/taxirates" target="_blank">http://flylcpa.com/taxirates</a></p>
                            <p>A1 Royal Airport Transportation - <a href="tel:800-939-9910" value="+18009399910" target="_blank">800-939-9910</a></p>
                            <p>Canary Transportation - <u><a href="tel:239-325-7207" value="+12393257207" target="_blank">239-325-7207</a></u></p>
                            <p><u><br></u></p>
                        </div>
                        <div class="location-button-container">
                            <a href="http://www.americancomfortlimo.com/" rel="nofollow" target="_blank">
                                <button>Visit Website</button>
                            </a>
                            <a href="mailto:info@americancomfortlimo.com">
                                <button>Email</button>
                            </a>
                        </div>
                    </div>
                    <div class="location-separator"></div>
                </div>
            </div>
            <div class="section-separator"></div>
        </div>
    </div>
  </div>
{% endblock %}
