{% extends "base.html" %}
{% block pageClass%}details-page{% endblock %}
{% block content %}
  <div id="content">
    <div class="content-background"></div>
    <div class="page">
        <div class="page-background"></div>
        <div class="page-sections">
            <div class="anchor" id="itinerary"></div>
            <div class="location-section">
                <div class="location-section-background"></div>
                <div class="location-section-title-border-top"></div>
                <div class="location-section-title">Itinerary</div>
                <div class="location-section-title-border-bottom"></div>
                <p class="location-section-description"></p>
                <div class="location-section-items">
                    <div class="location-item">
                        <div class="location-title item-title" id="friday">Friday, August 28th, 2015</div>
                        <br>
                        <div class="location-address">8:00 AM
                          <br>Priya's Vidhi Ceremony, Beach Pavilion 
                          <br>Attire: Indian or Western Casual
                        </div>
                        <br>
                        <div class="location-address">10:00 AM
                          <br>Vishal's Vidhi Ceremony, Beach Pavilion
                          <br>Attire: Indian or Western Casual
                        </div>
                        <br>
                        <div class="location-address">12:00 PM
                          <br>Vidhi Lunch, Beach Pavilion
                        </div>
                        <br>
                        <div class="location-address">5:30 PM
                          <br>Welcome Party &amp; Mehndi/Garba, Beach Pavilion
                          <br>Attire: Indian or Western Semiformal
                        </div>
                        <br>
                        <div class="location-address">9:30 PM
                          <br>Afterparty, Nacho Mamas
                          <br>Join the happy couple for a late night fiesta
                          <br>Attire: Casual
                        </div>
                    </div>
                    <div class="location-separator"></div>
                    <div class="location-item">
                        <div class="location-title item-title" id="saturday">Saturday, August 29th, 2015</div>
                        <br>
                        <div class="location-address">9:30 AM
                          <br>Baraat, Marriott Beach 
                        </div>
                        <br>
                        <div class="location-address">10:30 AM
                          <br>Wedding Ceremony, North Beach
                          <br>Attire: Traditional Indian or Western Semiformal
                        </div>
                        <br>
                        <div class="location-address">12:30 PM
                          <br>Wedding Lunch, Pavilion
                        </div>
                        <br>
                        <div class="location-address">7:00 PM
                          <br>Cocktail Hour, Palms Terrace and Ballroom
                        </div>
                        <br>
                        <div class="location-address">8:00 PM
                          <br>Wedding Reception, Palms Terrace and Ballroom
                          <br>Attire: Indian or Western Formal
                        </div>
                        <br>
                        <div class="location-address">12:00 AM
                          <br>Afterparty, Marriott Koral's Sushi Cocktail and Lobby Bar
                          <br>Attire: Casual
                        </div>
                    </div>
                    <div class="location-separator"></div>
                    <div class="location-item">
                        <div class="location-title item-title" id="sunday">Sunday, August 30th, 2015</div>
                        <br>
                        <div class="location-address">8:00 AM
                          <br>Farewell Brunch
                        </div>
                    </div>
                    <div class="location-separator"></div>
                </div>
            </div>
        </div>
    </div>
  </div>
{% endblock %}
