{% extends "base.html" %}
{% block pageClass%}wedding-page{% endblock %}
{% block content %}
  <script>
    window.onload = function() {
      var getDays = function() {
        var end = new Date("August 29, 2015");
        var diff = end.getTime() - new Date().getTime();
        return Math.floor(diff/1000/60/60/24);
      }
      document.getElementById("wedding-countdown").innerHTML = getDays() + " days to go!";
    }
  </script>
  <header id="header" style="background-color:white">
    <div class="header-background"></div>
    <div><img class="wide-cover-image" src="/static/images/welcome.jpg" title=""></div>
    <div id="cover-image"><img class="wide-cover-image" src="/static/images/priyavishal2.jpg" title=""></div>
    <div id="title-container">
        <h1 id="wedding-title">Priya and Vishal</h1>
        <h2 id="wedding-date-location"><span id="wedding-date">August 29, 2015</span> in <span id="wedding-location">Marco Island, FL</span></h2>
        <h2 id="wedding-countdown"></h2>
    </div>
  </header>
  <div id="content">
    <div class="content-background"></div>
    <div class="page">
        <div class="page-background"></div>
        <div class="page-sections">
            <div class="anchor" id="welcome"></div>
            <div class="section">
                <div class="section-background"></div>
                <div class="section-title-border-top"></div>
                <div class="section-title">Welcome!</div>
                <div class="section-title-border-bottom"></div>
                <div class="section-items">
                    <div class="item">
                        <div class="item-description" style="text-align:center">
                            <p>We are both so happy that you are here this weekend to celebrate this momentous occasion with us. We are very fortunate to have each of you in our lives and feel honored that you have traveled great distances to be here with us.
                            <br>
                            <br>
                            We hope you have an amazing stay in Marco Island. It should be a relaxing and fun filled weekend with family and friends.
                            <br>
                            Please remember to swing by our hospitality suite that we have for the weekend to pick up a welcome bag for your room.
                            <br>
                            <br>
                            Please use this website to access our weekend itinerary, find out about Marco Island attractions, stay up to date with our news feed like where the bride and groom will be between events and share pictures you take during the weekend.
                            <br>
                            <br>
                            We look forward to spending the next few days with you in paradise!
                            <br>
                            <br>
                            Lots of Love,
                            <br>
                            Priya &amp; Vishal
                            </p>
                        </div>
                    </div>
                    <div class="item-separator"></div>
                    <div class="item">
                        <div class="item-title">Sunset &amp; Sunrise times</div>
                        <div class="item-description" style="text-align:center">
                            <p>info coming soon</p>
                            <p>
                                <br>
                            </p>
                            <p>
                                <br>
                            </p>
                        </div>
                    </div>
                    <div class="item-separator"></div>
                    </div>
                </div>
            </div>
            <div class="section-separator"></div>
        </div>
    </div>
  </div>
{% endblock %}
