{% extends "base.html" %}
{% block pageClass%}photos-page{% endblock %}
{% block content %}
  <div id="content">
      <div class="content-background"></div>
      <div class="page">
          <div class="page-background"></div>
          <div class="page-sections">
              <div class="anchor" id="albums"></div>
              <div class="albums-section">
                  <div class="album-section-title"></div>
                  <div class="album-section-title-border"></div>
                  <div class="album-section-background"></div>
                  <p class="album-section-description"></p>
                  <div class="album-section-items">
                      <a href="/photos/college-years">
                          <div class="album-item">
                              <div class="album-item-inner">
                                  <div class="album-image" style="background-image: url(//media.front.xoedge.com/images/bf72d37d-d905-49f1-89df-f73184580e15~rs_325.h)"></div>
                                  <div class="album-description">College Years</div>
                              </div>
                          </div>
                      </a>
                      <a href="/photos/engagement">
                          <div class="album-item">
                              <div class="album-item-inner">
                                  <div class="album-image" style="background-image: url(//media.front.xoedge.com/images/cdb88104-5da9-4cb9-862b-eaa62653c855~rs_325.h)"></div>
                                  <div class="album-description">Engagement Photos</div>
                              </div>
                          </div>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
{% endblock %}
